#navbar {
    justify-content: space-between;
}

.body {
    padding-top: 10%;
}

.central-items {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.card {
    width: 100%;
    overflow: scroll;
}

.delete:hover {
    cursor: pointer;
}

.form {
    width: 50%;
}

.delete {
    margin-left: 1em;
    margin-right: 1em;
    padding-top: 0.25em;
}

.delete, .edit {
    padding-bottom: 0.5em;
}

.create-button {
    margin-top: 1em;
}

td > input {
    width: 100%;
}

.cards {
    width: 100%;

    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 1em;

    color: white;
}
