#navbar {
    justify-content: space-between;
}

.body {
    padding-top: 10%;
}

.central-items {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.card {
    width: 100%;
    overflow: scroll;
}

.card-header {
    display: flex;
    justify-content: space-between;
}

.card-body {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.card-body p {
    align-self: flex-start;
}

.actions {
    display: flex;
    align-items: center;
}

.delete:hover, .edit:hover, .log-delete:hover, .log-edit:hover {
    cursor: pointer;
}

.form {
    width: 50%;
}

.delete {
    margin-left: 1em;
    margin-right: 1em;
    padding-top: 0.25em;
}

.edit {
    margin-right: 1em;
}

.log-delete {
    padding-left: 0.5em;
    padding-top: 0.1em;
}

.log-edit {

}

.delete, .edit {
    padding-bottom: 0.5em;
}

td > span.delete {
    padding-top: 3px;
    margin: 0;
}

td > span.edit {
    margin-right: 0;
}


.create-button {
    margin-top: 1em;
}

td > input {
    width: 100%;
}

.cards {
    width: 100%;

    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 1em;

    color: white;
}
.daily-intake {
    margin: 0 1em;
}
